/build
/unity-package/**/Plugins/Android/*.aar
/unity-package/ThirdpresenceAdSDK/Assets/**/*.meta
/unity-package/ThirdpresenceAdSDK/Temp
/unity-package/ThirdpresenceAdSDK/Library
/unity-package/ThirdpresenceAdSDK/Obj
/unity-package/export/*
log.txt
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
